* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body {
    background-image: url('../img/man-playing-padel.jpg');
    background-size: cover;
    /* Para que la imagen se ajuste al tamaño del contenedor */
    background-repeat: no-repeat;
}